*{
    margin: 0;
    padding: 0;
}

.white{
    color: white;
}

.black-bg{
    background-color: black;
}

.index{
    background-image: url("index.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    display: flex;
    flex-direction: column;
	justify-content: center;
	align-items: center;
    height: 100vh;
}

h1{
   font-size: 100px; 
   padding-bottom: 15px;
}

hr{
    border: white 0.5px solid;
}

.navbar{
    padding-top: 25px;
}

a{
    text-decoration: none;
    font-size: 25px; 
    padding: 10px;
    border: 1px white solid;
    margin: 0px 15px;
}

a:hover{
    background-color: white;
    border: 1px black solid;
    color: black;
}

h2{
    font-size: 75px;
    padding: 15px;
}

.about{
    margin-top: 15px;
}

p{
    padding: 15px;
    font-size: 20px;
}

.works{
    display: flex;
	flex-direction: column;
	align-items: center;
}

img{
    width: 600px;
    height: auto;
}
